<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CCJTV : Agregar Audios</title>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Imagenes/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Imagenes/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Imagenes/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Imagenes/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Imagenes/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Imagenes/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Imagenes/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Imagenes/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Imagenes/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Imagenes/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Imagenes/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Imagenes/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Imagenes/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Imagenes/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Imagenes/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section id="navbar" style="height:20px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-0">
            <a class="navbar-brand" href="http://ccj.switchit.com.ar/index.html"><img class="img-brand" src="~/Imagenes/logo-01.png" alt="logo Gartenstadt Schule"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto border-right">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">INICIAR SESIÓN / CERRAR SESIÓN</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Colegio Ciudad Jardin <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <img class="img-lang" src="~/Imagenes/iconos-13.png" alt="">
            </div>
        </nav>
    </section>
    <section id="add" class="container mt-5">
        <h1 class="py-4 text-danger">CARGA DE AUDIO</h1>
        <form>
            <div class="form-group row">
                <label for="inputURL" class="col-sm-3 col-form-label">Seleccione el audio a incorporar</label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input type="file" multiple name="file" id="file" onchange="javascript:updateList()" />
                        <div id="fileList"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre para el Album/CD:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese un nombre para identificarlo facilmente">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">Nivel al cual pertenece el material:</div>
                <div class="col-sm-9">
                    <select class="custom-select">
                        <option selected disabled hidden>Seleccione el nivel que utiliza el material</option>
                        <option value="1">Inicial</option>
                        <option value="2">Primaria</option>
                        <option value="3">Secundaria</option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">Materia que utiliza el archivo:</div>
                <div class="col-sm-9">
                    <select class="custom-select">
                        <option selected disabled hidden>Seleccione el tipo de materia que utiliza el material</option>
                        <option value="1">Alemán</option>
                        <option value="2">Inglés</option>
                        <option value="3">Material de interés General</option>
                    </select>
                </div>
            </div>
            <div class="form-group row pt-5">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn px-4 mx-4 btn-primary">CARGAR AUDIO</button>
                    <a href="@Url.Action("MenuAudios", "Home")" class="btn px-5 mx-4 btn-outline-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
      updateList = function() {
        var input = document.getElementById('file');
        var output = document.getElementById('fileList');
        var children = "";
        for (var i = 0; i < input.files.length; ++i) {
            children += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML = '<ol>'+children+'</ol>';
      }
    </script>
</body>
</html>

